*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Poppins, sans-serif;
}

/* <------------------------ Navbar Styling ------------------------------> */
#navbar{
    width: 100%;    
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
  
#navbar>.nav1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #28279C;
}
#navbar>.nav1>img{
    width: 200px;
}
#navbar>.nav1>.icons{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
#navbar>.nav1>.icons>i{
    font-size: 33px;
    color: white;
}
i{
    cursor: pointer;
}
#search-bar{
    position: relative;
}
#search-bar:hover input[placeholder="Search..."]{
    width: 700px;
}/*add new*/

input[placeholder="Search..."]{
    width: 300px; /*add new*/
    font-size: 30px;
    line-height: 24px;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px; 
    transition: 2s; /*add new*/

}
input[placeholder="Search..."]::placeholder{
    color: #28279C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fa-search{
    font-size:30px;
    color: black;
    position: absolute; 
    right:20px;
    bottom: 10px;
}

#navbar>.nav2{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    background: white;
    padding: 10px;
}
#navbar>.nav2>a{
    text-decoration: none;
    font-size: 12px;
    color: #6d726d;
}
#navbar>.nav2>a:hover{
    color: orangered;
}
#navbar>.nav3{
    width: 100%;
    background: #5B5B5B;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;    
}

.nav3 a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

/* <-------------------------DropDown Menu-------------------------> */
.drop-down-menu{
    width: 100%;
    display: flex;
    background: white;
    position: absolute;
    left: 0px;
    top:40px;
    /* border: 1px solid red; */
    display: none;

}

.drop-down-menu-div {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-down-menu-div:hover{
    color: #9D6A37; 
}
.drop-down-menu-div:hover .drop-down-menu{
    display: flex;
    /* color: #9D6A37;   */
}
.drop-down-menu>div{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
}
.drop-down-menu>div>ul{
    list-style-type: none;
    cursor: pointer;
    line-height: 24px;
    color: #6d726d;
    font-size: 14px;
}

.drop-down-menu>div>ul>li:first-child{
    color:#9D6A37;
    margin-bottom: 5px;
}

/* <---------------------------Product List Styling -------------------------------------------------> */
#filtercont{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sortby{
    background:  #28279C;
    border: none;
    color: white;
    padding: 10px;
    font-size: 18px;
}
#pricerange>input{
    background:  #28279C;
    border: none;
    color: white;
    padding: 10px;
    font-size: 18px;
}
#pricerange>input::placeholder{
    color: white;
}
#pricerange>button{
    background: #FC642B;
    border: none;
    color: white;
    padding: 10px;
    font-size: 18px;
}
#pricerange>button:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 40px;
    column-gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}
#container>div{
    padding:10px ;
    box-shadow: #28279C 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#container>div>img{
    width: 100%;
}
#container>div>h4{
    color:#9D6A37;
}
#container>div>p{
    color: #6d726d;
}
.buttondiv{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 30px;
}
.buttondiv button{
    background: #FC642B;
    border: none;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.buttondiv button:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}













/* <--------------------------Footer Styling--------------------------------------------------------> */

.footer{
    width: 100%;
    background: #F5F5F5;
}
.footer>.footer-box1{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    margin-top: 10px;
    padding-top: 20px;
}
.footer>.footer-box1>div>a{
    display: block;
    line-height: 24px;
    text-decoration: none;
    color: #777977;
}
.footer>.footer-box1>div:last-child>img{
    width: 70%;
}
.footer>.footer-box2{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 10px;
    padding-top: 20px;
}
.footer>.footer-box2>div>a{
    line-height: 24px;
    text-decoration: none;
    color: #777977;
}
.footer>.footer-box2>div>p{
    color: #777977;
    line-height: 24px;
}
.footer>.payment-partners{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30% ;
    gap: 20px;
}
.footer>.payment-partners>div>div>img{
    width: 76px;
}
.footer>.payment-partners>div:last-child > div > img{
    width: 46px;
}
.footer>.terms-cond{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.footer>.terms-cond>a{
    display: block;
    line-height: 24px;
    text-decoration: none;
    color: #777977;
}
.footer>#copyright{
    text-align: center;
    margin: 20px;
    line-height: 24px;
    color: #777977;
}
img{
    cursor: pointer;
}